{block content}
    {* Atribut n:foreach obaluje div blokem foreach *}
    <div n:foreach="$posts as $post" class="post">
        <div class="date">{$post->created_at|date:'F j, Y'}</div>
        {* Značka {link} generuje URL adresu, která směřuje na akci Post:show. Také předává ID příspěvku jako argument. *}
        <h2><a href="{link Post:show $post->id}">{$post->title}</a></h2>
        <div>{$post->content|truncate:256}</div>
    </div>
{/block}
