# Application parameters and settings. See https://doc.nette.org/configuring

parameters:


application:
	# Presenter mapping pattern
	mapping: App\UI\*\**Presenter


database:
	dsn: 'mysql:host=md417.wedos.net;dbname=d337245_ponorka'
	user: w337245_ponorka
	password: DavidMachek123.